.content-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(81, 94, 123, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.modal {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 900px;
  padding: 28px 32px;
  position: relative;

  > svg {
    width: 14px;
    position: absolute;
    right: 32px;
    cursor: pointer;
  }
}

.modal-header {
  display: flex;

  > * {
    width: 50%;
  }
}

.modal-header {
  margin-bottom: 16px;

  h2 {
    font-size: 32px;
    color: rgb(24, 49, 83);
    margin: 0;
  }
}

.modal-body {
  display: flex;
  justify-content: space-between;

  > * {
    width: 48%;
  }

  .content-icon {
    border-radius: 12px;
    border: solid 2px rgb(240, 241, 243);
    height: 276px;
    padding: 28px 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 168px !important;
      height: 168px !important;
    }
  }

  .content-code {
    background-color: #183153;
    border-radius: 12px;
    height: fit-content;
    padding: 28px 32px;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: -11px;
  
      li {
        padding: 7px 11px;
        border-radius: 7px;
        color: #74c0fc;
        cursor: pointer;
        font-size: 14px;
  
        &:hover {
          background-color: #001c40;
        }

        &.selected {
          color: #fff;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .code-snippet {
      margin-top: 16px;

      pre,
      code {
        margin: 0;
        font-family: monospace;

        * {
          font-family: monospace;
        }
      }

      .code-snippet-block {
        overflow-x: auto;
        padding: 24px 0;
      }

      .token,
      .attr-name {
        color: #f0f1f3;
      }

      .attr-value {
        color: #63e6be;
      }

      .punctuation {
        color: #c3c6d1;
      }
    }
  }
}
